
<div class="container">
<h1>Blog.</h1>
    <div class="categories">
      <a class="btn-category btn-category-active" href="#">All</a>
      <a class="btn-category" href="#">Bootcamp</a>
      <a class="btn-category" href="#">Coding</a>
      <a class="btn-category" href="#">Thoughts</a>
    </div>
<%= render 'components/articles' %>
</div>
